# Core wrangling
pandas
numpy
pyarrow
scikit-learn
xgboost
joblib
polars-lts-cpu


# Cloud & credentials
boto3
fsspec
python-dotenv

# Dashboard
reflex
plotly
pillow

# Experiment tracking
wandb

# Utilities
knockknock
argparse
rich
